<!DOCTYPE html>
<html ng-app="SortVisual">

  <head>
    <script src="bower_components/angularjs/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body>
    <h1>Sorting Visualization</h1>
  
  
  <div ng-controller="ctrl">
    <div class="value-line" ng-repeat="i in data" style="height:30px;width:{{i*10}}px;{{$index==currentPorsition?'background-color:red':''}}; border:{{$index==highlight?'3px':'0px' }} solid orange"><!-- <span style="background:green">{{$index}}</span>--> {{i}}</div> 
    
    <button ng-click="start()">sort</button>
    <button ng-click="reset()">reset</button>
    <span style="color:red">{{alertMsg}}</span>
    
  </div>
  
  
  </body>

</html>
