<!DOCTYPE html>
<html ng-app="SortVisual">
<head>
  <script src="bower_components/angularjs/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>
<body>
  <div class='jumbotron'>
   <div class="container">
     <h1>Sorting.Ng.Visualization</h1>

   </div>
 </div>
 <div >
   <div class='row'>
     <div class="btn-group col-lg-offset-10 ">
      <button class="btn btn-default" ng-model="templateFile"  btn-radio="'sv'" >Vertical Style</button>
      <button class="btn btn-default" ng-model="templateFile"  btn-radio="'svCol'" >Horizontal Style</button>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-3'>
      <sv data-sort="bubble"></sv>
    </div>

    <div class='col-lg-3 col-lg-offset-1'>
      <sv data-sort="insertion"></sv>
    </div>
    <div class='col-lg-3 col-lg-offset-1'>
      <sv data-sort="selection"></sv>
    </div>

  </div>

</div>

<div class="row" style="margin-top:150px">
  <hr/>
  <div class="col-md-offset-1 author">
    <div class="row">
      <div class="avatar col-md-1">
       <a href="https://github.com/caoglish"><img src="https://avatars3.githubusercontent.com/u/1396141?v=2&s=460" class="img-circle"></a>

     </div>
     <div class="col-md-3">
     <div class="author-name"> <a href="https://github.com/caoglish">Caoglish</a>  </div>
     <div class="author-word"> PHP developer who likes JavaScript</div>
    </div>
  </div>
</div>
</div>

</body>
</html>
